# Android generated
bin
gen
app/libs
obj
lint.xml

#  Android Studio
/.idea/*
.gradle
/.gradle/*
*.iml
*.ipr
*.iws
classes
gen-external-apklibs
.externalNativeBuild
.cxx
/*.html
# Gradle
/build
/captures
buildout
out

# Maven
target
release.properties
pom.xml.*

local.properties
proguard-rules.pro

# Other
.DS_Store
dist
tmp/build

test-suites/build
assets/build
encryption/build
uniqueid/build
networkcheck/build
appupdate/build
directboot/build
/security
/security/*
/results
/results/*

acvpkernel/build
acvpkernel/src/go
acvpkernel/src/gotest

